<app-topbar [isDashboard]="isDashboard"></app-topbar>
<form [formGroup]="form" class="form-signin text-center mt-lg-5" style="padding-top: 5em">
  <h1 class="h4 mb-3 font-weight-normal">ADMIN LOGIN</h1>
  <h6 class="h6 mb-3 font-weight-normal">Sign in to your dashboard</h6>

  <div *ngIf="errorType == 'CONNECTION_FAILED'" class="error-msg">Unable to connect!</div>
  <div *ngIf="errorType == 'UNAUTHORIZED'" class="error-msg">Bad Credentials!</div>

  <label class="sr-only" for="username">Username</label>
  <input autofocus=""
         class="form-control mb-3"
         formControlName="username"
         id="username"
         placeholder="Username"
         required=""
         type="text">
  <label class="sr-only" for="password">Password</label>
  <input class="form-control"
         formControlName="password"
         id="password"
         placeholder="Password"
         required=""
         type="password">
  <button [disabled]="!form.valid || isLoading"
          (click)="submit()"
          class="btn btn-lg btn-primary btn-block"
          type="submit">Sign in
  </button>
</form>
