<div>
  <div>
    <div style="display: block">
      <canvas baseChart
              (chartClick)="chartClicked($event)"
              (chartHover)="chartHovered($event)"
              [colors]="colors"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <button class="btn btn-sm btn-dark ml-2" (click)="randomize()">Update</button>
  </div>
</div>
