<button class="btn btn-primary" type="button" (click)="logout()">Logout</button>

<div class="container mb-2">
  <b>Overview</b>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col col-md-6">
      <div class="card h-100">
        <p class="card-header">Card Title 1</p>
        <p class="card-body">This card on the left of the other two cards, with a fixed height and scrolling.</p>
        <ul>
          <li *ngFor="let cb of chartDonuts">{{cb | json}}</li>
        </ul>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card h-100">
        <p class="card-header">Card Title 2</p>
        <p class="card-body">How do you want to ask the question?</p>
        <ul>
          <li *ngFor="let cd of chartBars">{{ cd | json}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--<app-user-list></app-user-list>-->
